In [5]:
from dotenv import load_dotenv
load_dotenv()  # loads .env into this process

import os, pandas as pd, sqlalchemy as sa, psycopg

# Build engine 
engine = sa.create_engine(
    f"postgresql+psycopg://{os.getenv('PGUSER')}:{os.getenv('PGPASSWORD')}@"
    f"{os.getenv('PGHOST')}:{os.getenv('PGPORT')}/{os.getenv('PGDATABASE')}"
)

In [7]:
# Row counts + distinct IDs
pd.read_sql("""
SELECT
    COUNT(*) AS rows,
    COUNT(DISTINCT source_id) AS distinct_ids
FROM raw.chicago_crimes;
""", engine)

   rows  distinct_ids
0   750           750

In [9]:
# Look at crime types inside JSON
pd.read_sql("""
SELECT payload ->> 'primary_type' AS crime_type, COUNT(*) AS n
FROM raw.chicago_crimes
GROUP BY 1
ORDER BY n DESC
LIMIT 25;
""", engine)

                          crime_type    n
0                              THEFT  151
1                            BATTERY  140
2                    CRIMINAL DAMAGE   88
3                MOTOR VEHICLE THEFT   67
4                            ASSAULT   59
5                      OTHER OFFENSE   52
6                 DECEPTIVE PRACTICE   46
7                           BURGLARY   42
8                  CRIMINAL TRESPASS   24
9                          NARCOTICS   23
10                           ROBBERY   18
11                 WEAPONS VIOLATION   16
12                       SEX OFFENSE    5
13           CRIMINAL SEXUAL ASSAULT    5
14        OFFENSE INVOLVING CHILDREN    4
15                             ARSON    2
16                          STALKING    2
17              LIQUOR LAW VIOLATION    2
18  INTERFERENCE WITH PUBLIC OFFICER    2
19                          HOMICIDE    1
20                      INTIMIDATION    1